@import "tailwindcss";

@plugin '../hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
@font-face {
  font-family: "Fredoka";
  src: url("assets/fonts/fredoka/Fredoka-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-weight: 100 900; /* variable weights range */
  font-stretch: 75% 125%; /* variable width range */
  font-style: normal;
}

:root {
  --poppins: "Poppins", sans-serif;
  --lato: "Lato", sans-serif;

  --light: #f9f9f9;
  --blue: #3c91e6;
  --light-blue: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #342e37;
  --red: #db504a;
  --yellow: #ffce26;
  --light-yellow: #fff2c6;
  --orange: #fd7238;
  --light-orange: #ffe0d3;
}

body,
html {
  /* padding: 0%;
  margin: 0%; */
  box-sizing: border-box;
  font-family: "Fredoka";
}
body,
div#root {
  height: 100vh;
}
div#modile-aside a.active {
  @apply underline underline-offset-4  ;
  /* @apply bg-(--blue)/50 text-white  transition-background delay-100 ; */
  
  
}
div#desktop-aside a.active {
  /* @apply underline ; */
  @apply bg-(--blue)/50   ;
  
  
}
